.campaign-container {
    margin-top: 30px;

    .campaign-wrapper {
        display: flex;
        gap: 10px;
        margin: 10px 0;

        .campaign-item {
            width: 100%;
            padding: 70px 35px;
            background-size: cover;
            background-position: center;
            border-radius: 6px;
            color: #fff;

            h3 {
                font-size: 26px;
                font-weight: 600;
            }

            p {
                margin: 40px 0 !important;
                font-size: 14px;
            }

        }

        &:nth-child(1) .campaign-item:last-child {

            h3,
            p {
                color: #004aad;
            }
        }

        &:nth-child(1) .campaign-item:first-child {

            h3,
            p {
                color: #101010;
            }
        }
    }

    .campaign-wrapper:nth-child(1) .campaign-item:nth-child(1) {
        background-image: url('../img/campaign/1.webp');
    }

    .campaign-wrapper:nth-child(1) .campaign-item:nth-child(2) {
        background-image: url('../img/campaign/2.webp');
    }

    .campaign-wrapper:nth-child(2) .campaign-item:nth-child(1) {
        background-image: url('../img/campaign/3.webp');
        background-position: top;
        flex: 5;
    }

    .campaign-wrapper:nth-child(2) .campaign-item:nth-child(2) {
        background-image: url('../img/campaign/4.webp');
        flex: 3;
    }
}

//!Campaign container responsive Settings 
@media(max-width: 992px) {
    .campaign-wrapper {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .campaign-container {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        scrollbar-width: none;
        white-space: nowrap;
        gap: 10px;
        width: 100% !important; 
        -webkit-overflow-scrolling: touch;

        .campaign-wrapper {
            width: auto !important;
        }

        .campaign-item {
            padding: 30px 70px 30px 30px !important;
        }
    }
}

@media(max-width: 430px) {
    .campaign-item h3 {
        font-size: 22px !important;
    }
}