.new-year-animate {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;
    animation: new-year 1s forwards 5s ease-in;
    user-select: none;
    pointer-events: none;

    video {
        width: 100%;
        height: 100%;
        background-size: cover;
        object-fit: cover;
    }
}

@media(max-width: 431px) {
    .new-year-animate {
        display: block;

        @keyframes new-year {
            from {
                display: block;
                opacity: 1;
                scale: 1;
            }
    
            to {
                display: none;
                opacity: 0;
                scale: 15;
            }
        }
    }
}